
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #52514d;
  --secondary-color: #c7bfb3;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.header {
  width: 100%;
  height: 64px;
  padding: 0 24px;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16pxpx;
}

.logo {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: end;
}

.logo_bold {
  font-weight: bold;
  color: var(--primary-color);
}

span {
  color: gray;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

li {
  padding-left: 16px;
  
}

a {
  text-decoration: none;
  color: #var(var(--primary-color));
}
